<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="__PUBLIC__/css/user.css" rel="stylesheet" />
	</head>
	<body>
		<div class="address">
			<i></i><h1>收货地址管理</h1>
            <a href="#"> + 新增收货地址</a>
            <table>
              <thead>
                <tr>
                  <th>收货人</th>
                  <th>所在地区</th>
                  <th>详细地址</th>
                  <th>邮编</th>
                  <th>电话</th>
                  <th>操作</th>
                </tr>
              </thead>
            </table>
        </div>
	</body>
</html>
