<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>商品详情页</title>
		<link rel="stylesheet" href="__PUBLIC__/css/reset.css"/>
        <link rel="stylesheet" href="__PUBLIC__/css/home.css" />
        <link rel="stylesheet" href="__PUBLIC__/css/pro.css" />
	</head>
	<body>
		<!-- header -->
        <include file='Public/tpl/header.html'/>
        <!-- nav -->
        
        <div id="section">
        	<div class="">
        		
        	</div>
        </div>
        <!-- footer -->
        <include file='Public/tpl/footer.html'/>
	</body>
</html>
